@media screen and (max-width: 760px) {

    body{
        padding-left:0px;
        padding-right:0px;
        margin: 0px;
        width: 100%;
    }
    header {
        flex-direction: column;
    }
    .plans{
        flex-direction: column;
    }

    .plans .p1, .p2, .p3 {
        width: 80%;
        margin-bottom: 14px;
    }
    .info_1 {
        grid-template-columns: auto ;
        width: 100%;
        padding: 0px;
    }

    .info_1 .i img {
        width: 150px;
    }

    footer{
        margin-top: 30px;
    }

}